[submodule "backend"]
	path = backend
	url = https://github.com/AzurIce/SubwayBackend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/AzurIce/SubwayFrontend.git
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/AzurIce/SubwayAlgorithm.git
